@import "tailwindcss";

:root {
  color-scheme: only light;
}

@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/TikTokSans-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background: #fff;
  color: #171717;
  font-feature-settings: "cv04" 1;
}

@theme inline {
  --font-geist-sans: "TikTok Sans";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

img {
  -webkit-user-drag: none;
}

img::-webkit-media-controls-panel {
  display: none !important;
}

img {
  pointer-events: none;
}


@layer components {

  /* Заголовок (синий) */
  .t-title {
    @apply font-semibold text-[#0033FF];
    font-size: 22px;
    line-height: 160%;
  }

  /* Акцентный текст (черный) */
  .t-accent {
    @apply font-normal text-black;
    font-size: 20px;
    line-height: 160%;
  }

  /* Наборный текст (черный 60%) */
  .t-body {
    @apply font-normal;
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
  }

  .pbreak {
    display: block;
    height: 12px;
  }

  .t-list {
    @apply list-disc pl-8;
  }

  .t-list li {
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
  }

  .ty-title {
    font-variation-settings: "wdth" 75, "wght" 600, "opsz" 32;
    letter-spacing: 0.01em;
  }
  
  .ty-body {
    font-variation-settings: "wdth" 95, "wght" 400, "opsz" 18;
  }

}