@import "tailwindcss";

:root {
  color-scheme: only light;
}

@font-face {
  font-family: "TikTok Sans";
  src: url("/fonts/TikTokSans-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background: #fff;
  color: #171717;
  font-feature-settings: "cv04" 1;
}

@theme inline {
  --font-geist-sans: "TikTok Sans";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

img {
  -webkit-user-drag: none;
}

img::-webkit-media-controls-panel {
  display: none !important;
}

img {
  pointer-events: none;
}


@layer components {

  /* Заголовок (синий) */
  .t-title {
    @apply font-semibold text-[#0033FF];
    font-size: 22px;
    line-height: 150%;
  }

  /* Акцентный текст (черный) */
  .t-accent {
    @apply font-normal text-black;
    font-size: 20px;
    line-height: 150%;
  }

  /* Наборный текст (черный 60%) */
  .t-body {
    @apply font-normal;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
  }

  .pbreak {
    display: block;
    height: 12px;
  }

  .t-list {
    @apply list-disc pl-8;
  }

  .t-list li {
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
  }

  .ty-title {
    font-variation-settings: "wdth" 75, "wght" 600, "opsz" 32;
    letter-spacing: 0.01em;
  }
  
  .ty-body {
    font-variation-settings: "wdth" 95, "wght" 400, "opsz" 18;
  }

}

/* ===== Video range (Chrome / Safari / Edge) ===== */
.videoRange {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 44px;            /* высота кликабельной зоны */
  background: transparent; /* трек рисуем псевдоэлементами */
  cursor: pointer;
}

/* track */
.videoRange::-webkit-slider-runnable-track {
  height: 4px;             /* толщина линии */
  border-radius: 999px;
  background: #black/60;
}

/* thumb */
.videoRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;        /* центрируем по треку: -(thumb/2 - track/2) */
  width: 4px;
  height: 16px;
  border-radius: 999px;
  background: #0033ff;     /* цвет бегунка */
  box-shadow: 0 0 0 2px #ffffff; /* “хит-зона” / glow */
}

/* ===== Firefox ===== */
.videoRange::-moz-range-track {
  height: 4px;
  border-radius: 999px;
  background: rgba(0,0,0,.12);
}
.videoRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 999px;
  background: #0033ff;
  box-shadow: 0 0 0 4px rgba(0,51,255,.18);
}
.videoRange::-moz-range-progress {
  height: 4px;
  border-radius: 999px;
  background: rgba(0,51,255,.9); /* заполненная часть */
}

/* убираем фокус-обводки, если не нужны */
.videoRange:focus {
  outline: none;
}

.videoRange::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 999px;
  background: linear-gradient(
    to right,
    #0033ff 0%,
    #0033ff var(--range-p, 0%),
    rgba(0,0,0,.12) var(--range-p, 0%),
    rgba(0,0,0,.12) 100%
  );
}
