@import "tailwindcss";

:root {
  color-scheme: only light;
}

html,
body {
  background: #fff;
  color: #171717;
}

@layer components {

  /* Заголовок (синий) */
  .t-title {
    @apply font-semibold text-[#0033FF];
    font-size: 20px;
    line-height: 160%;
  }

  /* Акцентный текст (черный) */
  .t-accent {
    @apply font-normal text-black;
    font-size: 20px;
    line-height: 160%;
  }

  /* Наборный текст (черный 60%) */
  .t-body {
    @apply font-normal;
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
  }

  .pbreak {
    display: block;
    height: 12px;
  }

  .t-list {
    @apply list-disc pl-8;
  }

  .t-list li {
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
  }

}